.casa {
    text-align: center;
    padding: 32px;
    background-color: #D9F7E9;
}

.casa h3 {
    font-size: 32px;
    border-bottom: 4px solid;
    display: inline-block;
    padding-bottom: 8px;
}

.casa .residentes {
    display: flex;
    justify-content: space-around;
    margin-top: 32px;
    flex-wrap: wrap;
}